<% @list_of_items.each do |the_item| %>
  <div class="item">
    <img src="<%= the_item.thumbnail_url %>" class="thumbnail">

    <a class="link-text" target="_blank" href="<%= the_item.link_url %>">
      <%= the_item.link_description %>
    </a>
  </div>
<% end %>
